@font-face {
  font-family: "TRS Million";
  src: url("TRS-Million\ Rg.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

.cFrame{
  display: inline-flex;
  overflow:hidden;
}
.cDisplayArea{
  position: relative;
  width: 400px;
  height: 160px;
  background-color: #20deee;
  font-family: "TRS Million", Helvetica, sans-serif ;
  font-size: 36px;
}
.cMainDisplay{
  width:380px;
  height:150px;
  top: 0; bottom: 0; left: 0; right: 0;
  margin:auto;
  position: absolute;
  overflow-wrap: break-word;
  background-color: #bee8ff;
  line-height: 1em;
}
.cErrorMessage{
  position: absolute;
  bottom: 5px; right:15px;
  background-color:transparent;
  text-align:right;
  font-size: 20px;
}

button:active {
  transition: transform 0.1s ease, filter 0.1s ease;
  filter: brightness(75%);
  transform: scale(0.94)
}

.cButtonArea{
  display: flex;
  width: 400px;
  height: 375px;
  background-color: gray;
  font-size: 0;
}

.cNumButtonArea{
  display: block;
  width: 300px;
  height: 375px;
}
.cFunctionButtonArea{
  display: block;
  width: 100px;
  height: 375px;
}
button,.spacer{
  width: 100px;
  height: 75px;
  border: 1px solid #20deee;
  padding: 0;
  margin: 0;
  font-size: 16px
}

.cHistory {
  width: 360px;
  height: auto;
  border: 1px solid #20deee;
  border-left: none;
  padding: 12px;
}
ul{
  margin: 4px 0;
  padding-left:12px;
}
li{
  position: relative;
  list-style: none;
  font-size:20px;
  height: 30px;
  border-bottom: 1px solid rgba(25,25,250,0.1);
}
.min-button{
  margin-left: 10px;
  width:28px;
  height:28px;
  top:1px;
  right:4px;
  position: absolute;
  border-radius:4px;
}
.display-button{
  display: none;
}

@media screen and (max-width: 600px) {
  .cFrame{
    width: 100vw;
    height: 100vh;
    background-color: #20deee;
  }
  .cDisplayArea{
    width: 99vw;
    height: 28%;
    margin:0 0.5vw;
  }
  .cMainDisplay{
    width:95%;
    height:90%;
  }
  .cButtonArea{
    width: 99vw;
    height: 100%;
    margin:0 0.5vw;
  }
  .cNumButtonArea{
    width: 75%;
    height: auto;
  }
  .cFunctionButtonArea{
    width: 25%;
    height: auto;
  }
  .cNumButtonArea button{
    width: 33.333%;
    height: 14.4%;
  }
  .cFunctionButtonArea button{
    width: 100%;
    height:14.4%;
  }
  .cHistory{
    left:0;
    top:0;
    width: 96vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    transition: transform 0.4s 0s linear;
    background-color: aliceblue;
  }
  .hidden{
    transition: transform 0.3s 0s linear;
    transform: translateX(100vw);
  }
  .min-button{
    right:48px;
  }
  .display-button{
    right:0;
    top: 25px;
    width:40px;
    height:60px;
    display:block;
    position: fixed;
    z-index: 3;
    transition: transform 0.3s 0s linear;
    border-radius: 25% 0 0 25%;
  }
  .reverse{
    transition: transform 0.1s 0.3s linear;
    transform: rotateY(180deg);
  }
}